<div class="card t-background-light">
  <div class="card-header">
    <div class="card-image">
      <img src="{{ catalogue_item.ThumbnailUrl }}" alt="">
      <div class="card-image-overlay">
        <div class="card-price">
          <span class="h2">{{catalogue_item.Cost}}</span>
        </div>
        {{#catalogue_item.CustomFields}}
          <span class="label">{{FieldName}} {{FieldLabel}}</span>
        {{/catalogue_item.CustomFields}}
      </div>
      <div class="card-image-overlay--bottom">
        <div class="card-status">
         <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lock"></use></svg>
        </div>
      </div>
      <time class="card-duration">
        {{ catalogue_item.Duration }}
      </time>
    </div>
  </div>
  <div class="card-body">
    <h2 class="card-heading t-text-main">{{catalogue_item.Title}}</h2>
    <h4 class="card-subheading t-text-secondary">{{catalogue_item.Description}}</h4>
    <time class="card-date t-text-secondary">
      {{catalogue_item.RecordDate}}
    </time>
  </div>
  <div class="card-footer">
    <div class="card-footer-left">
      <a href="" class="button small">{{ catalogue_item.buttonLabel }}</a>
    </div>
    <div class="card-footer-right" >
        <button class="icon-button">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#playlist-add"></use></svg>
          <span class="show-for-sr">add to playlist</span>
        </button>
        <button class="icon-button" data-toggle="slider">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info"></use></svg>
          <span class="show-for-sr">more info</span>
        </button>
    </div>
  </div>
  <div class="card-slider">
    <div class="card-slider-header">
      <h4 class="small-heading">Presentation Details</h4>

    </div>
    <div class="card-details">
      You understand the need to change and some of your leadership team may even want to change. However, as we all know, there is a big gap between desire and action.
Achieving accelerated growth in a way that is sustainable and scalable requires the right structure, systems, infrastructure (technology) and execution.
In this session, Sam Dean will go beyond the concepts to provide practical insights on how to reconstruct your offering using the right technology with the right process to become a truly client-centric advice business (and along the way have a lot more fun).
With real case studies and an action plan to take away, this is one session you can’t miss. 

    </div>
  </div>
</div>