<div class="card-image">
  <img src="{{ catalogue_item.ThumbnailUrl }}" alt="">
  <div class="card-image-overlay">
    <div class="card-price">
      <span class="h2">
        {{catalogue_item.Cost}}
      </span>
    </div>
    {{#catalogue_item.CustomFields}}
      <span class="label">{{FieldName}} {{FieldLabel}}</span>
    {{/catalogue_item.CustomFields}}
  </div>
  <time class="card-duration">
    {{ catalogue_item.Duration }}
  </time>
</div>